
:root {
	--purple: #9400b5;
	--orange: #ff6f28;
	--green: #0cb880;
	--text-gray: #555;
	--light-gray: #777;
}
/*^^Read more about CSS variables at https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables*/


*, *:before, *:after { 
  box-sizing: border-box;
}
/*^^To read more about box-sizing and why you'd want to overwrite it see https://css-tricks.com/international-box-sizing-awareness-day/ or https://www.w3schools.com/cssref/css3_pr_box-sizing.asp*/
/*--------------------------------------------------------
	FONT ASSIGNMENTS
--------------------------------------------------------*/
body {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 18px;
	overflow-x: hidden;
	color: var(--text-gray);
	position: relative;
	max-width: 100%;
}

p {
	margin-bottom: 1.25em;
}
strong {
	color: var(--green);
	font-weight: bold;
}
