:root {
	--purple: #640b77;
	--orange: #ff6f28;
	--green: #0cb880;
	--text-gray: #555;
	--light-gray: #777;
}

/*--------------------------------------------------------
						Font Assignments
--------------------------------------------------------*/
body {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 18px;
	overflow-x: hidden;
	color: var(--text-gray);
	position: relative;
	max-width: 100%;
	font-weight: normal;
}

p {
	margin-bottom: 1.25em;
}
strong {
	color: var(--green);
	font-weight: bold;
}
/*-------------------H1 - H6----------------------------*/
h1, 
h2, 
h3, 
h4 {
	margin: 0px 0px .25em;
	padding: 0px;
	font-weight: bold;
	line-height: 1em;
}

h1 { font-size: 2.2em; }
h2 { font-size: 1.9em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }

@media(max-width: 800px) {
	h1 { font-size: calc(2.2em - 3px); }
	h2 { font-size: calc(2em - 3px); }
	h3 { font-size: calc(1.8em - 3px); }
	h4 { font-size: calc(1.5em - 3px); }
}
@media(max-width: 400px) {
	h1 { font-size: calc(2.2em - 5px); }
	h2 { font-size: calc(2em - 5px); }
	h3 { font-size: calc(1.8em - 5px); }
	h4 { font-size: calc(1.5em - 5px); }
}
p + h1,
p + h2,
p + h3,
p + h4 {
	margin-top: 1.25em;
}

/*--------------------------------------------------------
						Links
--------------------------------------------------------*/
a {
	color: var(--link-blue);
	text-decoration: underline;
	transition: .1s ease-in color;
	position: relative;
}
a:hover, 
a:focus {
	color: var(--link-blue);
	position: relative;
	text-decoration: none;
}

/*--------------------------------------------------------
						Objects
--------------------------------------------------------*/
*:focus {
    background: linear-gradient(to bottom, transparent 0%,transparent calc(100% - 5px), var(--orange) 1px);
    outline: none;
}
select:focus {
    clip-path: inset(0 .5em 0 0);
}
#skip-to-main {
	display: inline-block;
	position: absolute;
	right: -100%;
	transform: translateX(0);
	transition: transform .125s;
}
#skip-to-main:focus {
	transform: translateX(calc(-100vw - 1em));
}
/*----------------------Lists--------------------------*/
ul {
	-webkit-padding-start: 0px;
	-moz-padding-start: 0px;
	-ms-padding-start: 0px;
	list-style: none;
}
ol {
	list-style-type: none;
	padding-left: 0;
    counter-reset: ordered-list-counter;
}
ol li::before {
    content: counter(ordered-list-counter)". ";
    counter-increment: ordered-list-counter;
    opacity: .8;
}

/*----------------------Identity--------------------------*/
.logo {
	display: none;
}
/*--------------------------------------------------------
						Header
--------------------------------------------------------*/
header, footer {
	position: fixed;
	padding: 1em;
	box-shadow: 1.79px 2.69px 17.92px rgba(0, 0, 0, 0.1);
	width: 100%;
}
header {
	top: 0;
}

/*--------------------------------------------------------
						Main
--------------------------------------------------------*/
main {
	display: grid;
	height: 100vh;
}
/*-------------Form--------------------------*/
#job-query {
	margin: auto;
	font-size: 30px;
	font-size: 2em;
	letter-spacing: -.05rem;
	font-family: 'Georgia', serif;
	color: var(--light-gray);
}
#job-query *:not([type="submit"]) {
	letter-spacing: inherit;
}
.select-arrow {
	position: relative;
	font-size: inherit;
	display: inline;
}
.select-arrow::before {
	/*Down arrow*/
    content: '';
    position: absolute;
    right: 0.5em;
    top: calc(50% - .125em);
    border: 2px solid;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    width: 0.25em;
    height: 0.25em;
	cursor: pointer;
	pointer-events: none; /*Make the arrow unclickable so that a user will click the select beneath it to reveal the options*/
	z-index: 1;
}
.select-arrow:not(:last-of-type)::after {
	/*Make sure each select (except the last one) breaks into a new line after it */
	content: '';
	display: block;
	width: 1px;
	height: 1px;
}
.select-arrow:nth-of-type(1) {
	color: var(--purple);
}
.select-arrow:nth-of-type(2) {
	color: var(--orange);
}
.select-arrow:nth-of-type(3) {
	color: var(--green);
}

select {
	border: none;
	appearance: none;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	display: inline-block;
	padding-right: 1em; /*Extend the select box to the right so users can click on the arrow I've added*/
	cursor: pointer;
	max-width: 100%;
	transition: max-width .25s ease-in;
	color: currentColor;
	position: relative;
}
select[data-option-selected="freelance"] {
	max-width: 7.8ch;
}
select[data-option-selected="contract"] {
	max-width: 7.2ch;
}
select[data-option-selected="full-time"] {
	max-width: 7.5ch;
}
select[data-option-selected="volunteer"] {
	max-width: 8.2ch;
}
select[data-option-selected="logo designer"] {
	max-width: 10.7ch;
}
select[data-option-selected="graphic designer"] {
	max-width: 12.9ch;
}
select[data-option-selected="web designer"] {
	max-width: 10.6ch;
}
select[data-option-selected="web developer"] {
	max-width: 11.5ch;
}
select[data-option-selected="branding project"] {
	max-width: 7.9ch;
}
select[data-option-selected="print project"] {
	max-width: 5ch;
}
select[data-option-selected="website project"] {
	max-width: 6.8ch;
}

#go-button {
	text-decoration: none;
	padding: 1em 1.5em;
	background: var(--green);
	color: white;
	border-radius: 0.5em;
	letter-spacing: initial;
	display: block;
	margin-top: 1.25em;
	position: relative;
	/*border: .1em solid white;*/
	border: none;
	font-size: .8em;
}
#move-out-the-way #go-button {
	border: .125em solid currentColor;
}
#go-button:active, 
#move-out-the-way #go-button:active {
	border: .125em inset #33333359;
	mix-blend-mode: multiply;
	border-bottom: none;
	border-right: none;
	padding-bottom: calc(1em - .125em);
	padding-right: calc(1.5em - .125em);
}
input[type="submit"] {
	display: block;
	font-size: .85em;
	appearance: none;
	-moz-appearance: none; 
	-webkit-appearance: none;
	background: none;
	border: none;
	text-decoration: underline;
	cursor: pointer;
	padding: 0;
	margin-top: 1.25em;
	color: inherit;
}
/*-------------Move out the way----------------------*/
.move-out-the-way main #job-query {
	opacity: 0;
	transition: opacity .25s ease-in;
}

header #job-query {
	font-size: 20px;
	margin: initial;
	position: absolute;
	right: 1em;
	bottom: .6em;
	transform: translateX(100vw);
	transition: transform .25s ease-in;
	transition-delay: 5s;
}
.move-out-the-way header #job-query {
	transform: translateX(0);
}
.move-out-the-way header .select-arrow:not(:last-of-type)::after {
	/*Stops the select arrows from breaking to a new line*/
	content: none;
}
.move-out-the-way header #go-button {
	letter-spacing: initial;
	padding: .5em .75em;
	display: inline-block;
	margin-left: .75ch;
	border-radius: .25em;
}
/*--------------------------------------------------------
						Article
--------------------------------------------------------*/

/*--------------------------------------------------------
						Section
--------------------------------------------------------*/

/*--------------------------------------------------------
						Footer
--------------------------------------------------------*/
footer {
	bottom: 0;
}

/* Try this Material Design inspired transition easing 300ms cubic-bezier(0.4, 0.0, 0.2, 1)*/